# MANIFEST.in
exclude .gitignore
exclude .coverage
include README.md
include LICENSE.md
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
